div.root {
  direction: ltr;
  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: 0 1em;

  > blockquote {
    display: inline;
    margin: 0;
    padding: 0;

    > cite {
      display: block;
      padding-top: 1em;
      text-align: right;

      &:before {
        content: "\2014  ";
      }
    }

    > q {
      flex-grow: 1;
      hyphens: auto;
      overflow-wrap: break-word;
    }
  }

  > div.image {
    $size: 100px;

    border-radius: $size;
    box-shadow:
      0 1px 5px 0 rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12);
    float: left;
    max-height: $size;
    min-height: $size;
    opacity: 0.75;
    overflow: hidden;
    margin-bottom: 0.5em;
    margin-right: 1em;
    max-width: $size;
    min-width: $size;

    > img {
      height: $size;
      pointer-events: none;
      width: $size;
    }    
  }
}
